<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.ist">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SeatActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".activity.TheaterActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.MovieListActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".activity.SplashActivty"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>